beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.6
gTTS==2.3.2
idna==3.4
imageio-ffmpeg==0.4.8
numpy==1.25.2
pafy==0.5.5
Pillow==10.0.0
playsound==1.2.2
psutil==5.9.5
PyAudio==0.2.12
pygame==2.5.1
pywin32==306
requests==2.28.1
soupsieve==2.4.1
SpeechRecognition==3.10.0
urllib3==1.26.16
wikipedia==1.4.0
youtube-dl @ git+https://github.com/ytdl-org/youtube-dl.git@86e3cf5e5849aefcc540c19bb5fa5ab7f470d1c1
